<!-- TOGGLE BUTTONS -->
<section class="grid-y  grid-padding-y grid-margin-y">
  <div class="cell">
    <section class="grid-x  align-right">
      <div class="cell medium-4 buttonToggle">
        <mat-button-toggle-group #group="matButtonToggleGroup"
                                 [value]="selectedSkillType"
                                 (change)="changeSkillType(group.value)">
          <mat-button-toggle [value]="'Skills View'"
                             [ngClass]="{'active': selectedSkillType === 'Skills View'}">Skills View</mat-button-toggle>
          <mat-button-toggle [value]="'Course View'"
                             [ngClass]="{'active': selectedSkillType === 'Course View'}">Course View</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </section>
  </div>
</section>


<section class=" grid-x  grid-padding-x  grid-margin-x">

  <!-- DESCRIPTION OF SKILLS ROADMAP -->
  <div class="cell">

    <p *ngIf="selectedSkillType == 'Skills View'"
       class="font-size"> Below are the <b>TOP SKILLS</b> in demand for this occupation</p>
    <p *ngIf="selectedSkillType == 'Skills View'"
       class="font-size"> You will gain these skills and more in your ADVANCE degree coursework.</p>
    <p *ngIf="selectedSkillType == 'Course View'"
       class="font-size">Below are is an example of the <b>COURSES</b> you will take in this Pathway.</p>
  </div>


  <!-- SENDING DATA IN SHARED COMP: ROADMAP-MEDIUM -->


  <!-- FOR SKILLS VIEW -->
  <div class="cell medium-11"
       *ngIf="selectedSkillType == 'Skills View'">
    <gmu-roadmap-medium [occupationProfileDetails]="occupationProfileDetails"
                        [isSkillRoadmapVisible]="false"></gmu-roadmap-medium>
  </div>


  <!-- FOR COURSE VIEW -->
  <div class="cell medium-11"
       *ngIf="selectedSkillType == 'Course View'">
    <gmu-roadmap-medium [pathway]="pathway"
                        [isCourseViewVisible]="false"></gmu-roadmap-medium>
  </div>
</section>

<!--LINE AND DOWN ARROW -->
<section class="grid-x grid-margin-x text-center ">
  <div class="cell line ">
    <span class="material-icons south-arrow">
      south
    </span>
  </div>
</section>


<!-- OCCUPATION CARDS -->
<section class="grid-y grid-margin-y grid-padding-y">
  <div class="cell ">
    <gmu-student-view-skill-roadmap-career-ready [skillRoadmap]="skillRoadmap"
                                                 [pathway]="pathway"
                                                 (onAreaOfStudyClick)="onAreaOfStudyClick($event)"
                                                 (onOccupationClick)="onOccupationClick($event)"></gmu-student-view-skill-roadmap-career-ready>
  </div>
</section>
